@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

.titulo {
    font-family: 'Londrina Outline', cursive;
    font-size: 3rem;
    color: red;
    margin-top: 0.5rem;
}

.page-wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
    margin-left: auto;
  margin-right: auto;
}

#card {
    background-color: rgba(255,255,255,0.8) !important;
}

.checkbox {
    margin-right: 0.5rem;
}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}